@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --softRed: hsl(0, 93%, 68%);
  --desRed: hsl(0, 36%, 70%);
  --grayishRed: hsl(0, 6%, 24%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

main {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.container {
  /* border: 1px solid black; */
  max-width: 100%;
  margin: 2rem auto;
}

.paddingGlobal {
  padding: 0 2rem;
}

.logoImg {
  max-width: 35%;
  margin-bottom: 2rem;
}

.heroImg {
  max-width: 100%;
}

.heroText {
  margin: 3rem 0 5rem 0;
}

.heroText h1,
.heroText span {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--grayishRed);
  text-align: center;
}

.heroText span {
  font-weight: 300;
  color: var(--desRed);
}

.heroText p {
  margin-top: 1rem;
  color: var(--desRed);
  line-height: 1.7;
  text-align: center;
  font-size: 0.9rem;
}

.inputBtn {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.heroText .inputBtn input {
  padding: 1rem 1.5rem;
  color: var(--desRed);
  outline: none;
  border: 1px solid var(--desRed);
  border-radius: 2rem;
  width: 100%;
  font-weight: 600;
}

.heroText .inputBtn button {
  padding: 0.95rem 2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  margin-left: -3rem;
  box-shadow: 0 2px 20px 1px var(--desRed);
}

.heroText .inputBtn button:hover {
  background: linear-gradient(135deg, hsl(0, 86%, 90%), hsl(0, 74%, 90%));
}

.heroImgDesktop {
  display: none;
}

@media (min-width: 23.5rem) {
  .container {
    max-width: 23.4375rem;
  }
}

@media (min-width: 60rem) {
  main {
    display: flex;
    justify-content: flex-end;
  }

  .container {
    /* border: 2px solid red; */
    max-width: 95%;
    display: flex;
    margin: 0;
  }

  .hero-mobile,
  .hero-desktop {
    /* border: 2px solid green; */
    flex-basis: 50%;
  }

  .hero-mobile {
    /* border: 1px solid black; */
    padding: 2rem;
  }

  .hero-mobile .logo {
    margin: 2rem 0;
  }

  .hero-mobile .logoImg {
    max-width: 100%;
  }

  .hero-mobile .hero {
    display: none;
  }

  .hero-mobile .heroText h1,
  .hero-mobile .heroText span,
  .hero-mobile .heroText p {
    text-align: left;
  }

  .hero-desktop {
    display: flex;
    justify-content: flex-end;
  }

  .hero-desktop .heroImgDesktop {
    display: block;
    max-height: 100vh;
    width: auto;
  }
}

@media (min-width: 85.3125rem) {
  .hero-mobile {
    padding: 0;
  }

  .hero-mobile .logo {
    margin-top: 3.5rem;
  }

  .heroText {
    margin-top: 4rem;
    /* border: 1px solid red; */
  }

  .heroText h1,
  .heroText span {
    font-size: 3.5rem;
  }

  .heroText h1 {
    padding-right: 5rem;
  }

  .heroText p {
    padding-right: 12rem;
  }

  .heroText .inputBtn input {
    width: 60%;
  }
}

@media (min-width: 85.5rem) {
  .container {
    max-width: 81.225rem;
  }
}
